<h1>Обратная связь</h1>
<p>
<ol>
    <li><b>Имя:</b> {{ form.name }}</li>
    <li><b>Email:</b> {{ form.email }}</li>
    <li><b>Тема:</b> {{ form.subject }}</li>
    <li><b>Сообщение:</b> {{ form.text }}</li>
</ol>
</p>