{{ void(this.widget('bootstrap.widgets.BsGridView', {
'dataProvider': dataProvider,
'filter': model,
'template':'{summary} {pager} <div class="table table-responsive">{items}</div> {pager}',
'type': constant('BsHtml::GRID_TYPE_STRIPED'),
'columns': [
{
    'name': 'action',
    'filter': {'CREATE': 'CREATE', 'UPDATE': 'UPDATE', 'DELETE': 'DELETE'}
},
'description',
'model',
'idModel',
'field',
{
    'name': 'userid',
    'value': '$data->userid ? (($user = Users::model()->findByPk($data->userid)) ? $user->username . " (".$data->userid.")" : $data->id) : "-"'
},
'creationdate',
]
})) }}