{% extends '/views/layouts/main.twig' %}

{% block title %}Лог{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Лог</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    {{ void(this.widget('bootstrap.widgets.BsGridView', {'dataProvider': dataProvider})) }}
                </div>
                {#{% if models|length %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                {% set labels = model.attributeLabels() %}
                                {% for attribute,value in model.attributes %}
                                    <th>{{ labels[attribute] }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for model in models %}
                                <tr>
                                    {% for attribute in model.attributes %}
                                        <td>{{ attribute }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include '/views/particle/pagination.twig' with {pages: pages} %}
                {% else %}
                    <div class="alert alert-warning">Нет логов...</div>
                {% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}