{{ void(this.widget('bootstrap.widgets.BsGridView', {
'dataProvider': dataProvider,
'filter': model,
'template':'{summary} {pager} <div class="table table-responsive">{items}</div> {pager}',
'type': constant('BsHtml::GRID_TYPE_STRIPED'),
'columns': [
'name',
{
'class': 'BsButtonColumn',
'template': '{update} {delete}',
'buttons': {
'update' : {
'label': '<span class="glyphicon glyphicon-pencil"></span>',
'url': 'Yii::app()->createUrl("subjects/update", array("id"=>$data->id))',
'options': {'class': 'btn btn-sm btn-default'},
'visible': 'Yii::app()->user->checkAccess("admin") || Yii::app()->user->id == $data->owner_id'
},
'delete' : {
'label': '<span class="glyphicon glyphicon-trash"></span>',
'url': 'Yii::app()->createUrl("subjects/delete", array("id"=>$data->id))',
'options': {'class': 'btn btn-sm btn-danger'},
'click': 'true',
'visible': 'Yii::app()->user->checkAccess("admin") || Yii::app()->user->id == $data->owner_id'
}
}
}
]
})) }}