{% extends '/views/layouts/main.twig' %}

{% block title %}Группы{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Группы</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include '/views/particle/notice.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ this.createUrl('create') }}" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    {% include '/views/groups/_list.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}