{{ void(this.widget('bootstrap.widgets.BsGridView', {
'dataProvider': dataProvider,
'filter': model,
'template':'{summary} {pager} <div class="table table-responsive">{items}</div> {pager}',
'type': constant('BsHtml::GRID_TYPE_STRIPED'),
'columns': [
'ip',
'useragent',
'time',
'group',
'unique_id'
]
})) }}