{% extends '/views/layouts/main.twig' %}

{% block title %}Доступ к ICS{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Доступ к ICS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="{{ this.createUrl('chart') }}">График</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include '/views/icsanalytics/_list.twig' %}
            </div>
        </div>
    </div>
{% endblock %}