{% extends '/views/layouts/main.twig' %}

{% block title %}Расписание ККЭП{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Немного истории</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Еще будучи на втором курсе я подумал, что будет удобнее видеть расписание где-нибудь в календаре
                    телефона, чем постоянно искать фотографии расписания и узнавать какие были замены. Тогда же была
                    сделана кривая, работающая через одно место система, которая так и не пошла.
                </p>

                <p>
                    Позже, уже на третьем курсе, я переписал систему с нуля, сделав ее только для моей группы. У нас
                    была такая же синхронизация расписания в календарь + каждый день в группу ВК приходило расписание на
                    завтра. В конце третьего курса я сделал курсовую по данной системе и на все лето забыл о ней.
                </p>

                <p>
                    В начале 4 курса одногруппники просили возобновить работу системы, но мне было лень переделывать ее.
                    В середине сентября мне предложили оформить систему на конкурс, и вот с этого момента началась
                    разработка системы, которую вы видите сейчас.
                </p>

                <p>
                    Исходники данной системы вы можете найте на сайт <a href="https://github.com/sc0rp1d/schedule"
                                                                        target="_blank">Github</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Статистика</h2>
            </div>
        </div>
        <!--noindex-->
        <div class="row">
            <div class="col-md-12">
                <p>
                    <b>Количество групп в системе:</b> {{ group_count }} <br/>
                    <b>Количество замен, в этом семестре:</b> {{ replace_count }} <br/>
                    <b>Количество запросов к расписанию, за сегодня:</b> {{ ics_count }} <br/>
                </p>
            </div>
        </div>
        <!--/noindex-->
    </div>
{% endblock %}